################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/JobBot/.vs/JobBot/v16
/src/JobBot/JobBot.API/bin/Debug/netcoreapp3.1
/src/JobBot/JobBot.API/obj
/src/JobBot/.vs/JobBot
/src/JobBot/JobBot.Business/bin/Debug/netcoreapp3.1
/src/JobBot/JobBot.Business/obj
/src/JobBot/JobBot.Data/obj
/src/JobBot/JobBot.Data/bin/Debug/netcoreapp3.1
